@use "vars";

footer {
  background-color: var(--#{vars.$prefix}bg-dark);
  max-width: 1260px;

  margin: 0 auto;
  padding: 0 30px;

  .info {
    display: flex;

    padding-top: 40px;

    .sub-title {
      font-size: var(--#{vars.$prefix}text-lg);
      line-height: 25px;
      margin-bottom: 16px;
    }

    .contact {
      width: 41.6%;
    }

    .related {
      width: 33.3%;
    }

    .more {
      width: 25%;

      .qrcode-group {
        display: flex;
      }

      .qr-padding {
        padding: 7px;
      }

      .qrcode {
        width: 100px;
        height: 100px;
      }
    }
  }
}
